.ant-layout-header, .ant-layout-sider-children, html, body {
	background-color: #f0f2f5 !important;
}

.ant-layout-header {
	width: 100% !important;
	padding: 0 !important;
	margin: 0 !important;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal {
	/*position: fixed;*/
	color: #feffe6;
	/*display: block;*/
	width: 100%;
	/*height: 48px;*/
	padding: 10px 10rem;
	background-image: linear-gradient(
			135deg,
			rgb(24, 42, 115) 0%,
			rgb(33, 138, 174) 69%,
			rgb(32, 167, 172) 89%
	) !important;
}

ul.ant-menu.ant-menu-light.ant-menu-root.ant-menu-horizontal img {
	height: 50px;	
}

.content {
	width: 80%;
	margin: 2rem auto 0 !important;
}

